.slideshow-container{
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.mySlides{
  display: none;
}
.show{
  display: block;
}
.prev, .next{
  border:none;
  background: transparent;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 0;
  height:100%;
  width: auto;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0; 
  user-select: none;
}
.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(255,255,255,0.5);
  color: #111;
}
.text{
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align:center;
  background: black;
}
.numbertext{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot-container{
  text-align: center;
  margin-top: 10px;
}
.dot{
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin: 0 4px;
  /* background-color: #bbb; */
  display: inline-block;
  transition: background-color 0.6s ease;
  background-size: contain;
}
.active, .dot:hover{
  border: 2px solid black;

}
.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.slideshow-image{
  width: 100%;
  height: 80vh;
}
@-webkit-keyframes fade{
  from {opacity: .4;}
  to {opacity: 1;}
}
@keyframes fade{
  from {opacity: .4;}
  to {opacity: 1;}
}
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}



